###############################################################################
# Repository-Wide Ignore File
#
# This file is used to ignore files which are not included the formatting
# process in the repository.
###############################################################################

.cache/
.next/
.turbo/
.nitro/
.tanstack/
.expo/
.output/
dist/
tsconfig.json

_generated/
android/
ios/
routeTree.gen.ts
expo-env.d.ts
